body {
  margin: 0;
  padding: 0;
  background: #000;
  font-size: 12px;
  overflow: auto;
}
#mainDiv {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
#content {
  width: 100%;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#loveHeart {
  width: 100%;
  max-width: 320px;
  height: 320px;
  position: relative;
}
#garden {
  width: 100%;
  height: 100%;
}
#elapseClock {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#words {
  font-family: "sans-serif";
  width: 90%;
  max-width: 500px;
  font-size: 16px;
  color: #666;
}
#messages {
  display: none;
  text-align: center;
  font-size: 22px;
}
#elapseClock .digit {
  font-family: "digit";
  font-size: 28px;
  text-align: center;
}
#loveu {
  padding: 5px;
  font-size: 14px;
  margin-top: 50px;
  margin-right: 0;
  text-align: right;
  display: none;
}
#loveu .signature {
  margin-top: 8px;
  font-size: 14px;
  font-style: italic;
}
#clickSound {
  display: none;
}
#code {
  width: 100%;
  max-width: 320px;
  color: #ffffff;
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New",
    "sans-serif";
  font-size: 10px;
  line-height: 1.35;
}
#code .string {
  color: #2a36ff;
}
#code .keyword {
  color: #7f0055;
  font-weight: bold;
}
#code .placeholder {
  margin-left: 15px;
}
#code .space {
  margin-left: 7px;
}
#code .comments {
  color: #3f7f5f;
}
#copyright {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  color: #666;
}
#errorMsg {
  width: 100%;
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 100px;
  left: 0;
}
#copyright a {
  color: #666;
}
#icon {
  font-size: 48px;
  color: red;
  margin: 50 px;
  align-content: center;
}
#heartspan {
  align-content: center;
  text-align: center;
  margin: 20px;
}

@media (min-width: 769px) {
  #content {
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #loveHeart {
    max-width: 670px;
    min-height: 625px;
    height: 625px;
  }
  #code {
    max-width: 440px;
    font-size: 12px;
    line-height: normal;
  }
  #words {
    font-size: 20px;
  }
  #messages {
    font-size: 30px;
  }
  #elapseClock .digit {
    font-size: 40px;
  }
  #loveu,
  #loveu .signature {
    font-size: 18px;
  }
  #loveu {
    margin-right: 120px;
  }
}
